extends ../layout

block content
    extends ../layout

block content
  .materialize-box
    .material-header
      p Produkt information
    .material-body

      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='name') Namn
          .col-sm-7
            input.form-control(type='text', name='name', id='name', value=product.name)
        .form-group
          label.col-sm-3.control-label(for='description') Avhämtningstid
          .col-sm-7
            input.form-control(type='text', name='description', id='description', value=product.description)
        .form-group
          label.col-sm-3.control-label(for='price') Pris
          .col-sm-7
            input.form-control(type='text', name='price', id='price', value=product.price)
        .form-group
          label(class='col-sm-3 control-label', for='price') Ord. Pris
          .col-sm-7
            input.form-control(type='number', step="any", name='ordPrice', id='ordPrice', value=product.ordPrice, required)
        .form-group
          label.col-sm-3.control-label(for='quantity') Antal
          .col-sm-7
            input.form-control(type='text', name='quantity', id='quantity', value=product.quantity)
        .form-group
          label.col-sm-3(class='col-sm-2 control-label', for='startdate') Börjar att visas
          .col-sm-7
            input.form-control(type='text', name='startdate', value=startdate, id='date', required)
        .form-group
          label.col-sm-3(class='col-sm-2 control-label', for='enddate') Slutar att visas
          .col-sm-7
            input.form-control(type='text', name='enddate', value=enddate, id='date', required)
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Updatera

  br
  .materialize-box
    .material-header
      p Byt bild
    .material-body
      form.form-horizontal(role='form', enctype='multipart/form-data', action='/restaurant/product/edit/picture/' + product._id, method='POST')
        .form-group
          label(class='col-sm-3 control-label', for='myFile') Fil
          .col-sm-7
            input(type='file', name='myFile')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Updatera bild
