extends ../layout

block content
  .div(id='baseurl' data-internalbaseurl="/restaurant/orders/loadmore")
  .div(id='query' data-internalbasequery=(!searchString ? '' : '&search_param='+search_param) +(!searchString ? '' : '&search_param_date='+search_param_date)+(!searchString ? '' : '&q='+searchString))
  .materialize-box
    .material-header
      p Ordrar
    .material-body
        form(type='POST')
            .input-group
                .input-group-btn.search-panel
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                        span#search_concept #{search_param} 
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(id='search-dropdown-ID')
                                i.fa.fa-angle-double-right
                                |  ID
                        li
                            a(id='search-dropdown-Email')
                                i.fa.fa-angle-double-right
                                |  Email
                input#search_param(type='hidden', name='search_param', value=search_param)
                .input-group-btn.search-panel
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                        span#search_concept_date #{ search_param_date == 'Today' ? 'Idag' : 'Alla' }  
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(id='search-dropdown-Today')
                                i.fa.fa-angle-double-right
                                |  Idag
                        li
                            a(id='search-dropdown-Alltime')
                                i.fa.fa-angle-double-right
                                |  Alla
                input#search_param_date(type='hidden', name='search_param_date', value=search_param_date)
                input#search_key.form-control(type='text', name='q', placeholder='Search..', value=searchString)
                span.input-group-btn
                    a.btn.btn-default.text-muted(href='/restaurant/orders', title='Clear')
                        i.fa.fa-times
                    button.btn.btn-info(type='submit')   Sök 
                
        br
        div(id='ordersframe')
        .row
            .span5
                table.table.table-striped.table-condensed
                    thead
                    tr
                        th Email
                        th Datum
                        th Status
                        th
                    tbody.orderscontainer
                        include orders
        button.btn.btn-info.orders_load_more(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Laddar") Ladda fler