extends ../layout

block content
  .div(id='baseurl' data-internalbaseurl="/restaurant/orders/loadmore")
  .div(id='query' data-internalbasequery=(!searchString ? '' : '&search_param='+search_param) +(!searchString ? '' : '&search_param_date='+search_param_date)+(!searchString ? '' : '&q='+searchString))
  .materialize-box
    .material-header
      p Ordrar
    .material-body
        form(type='POST')
            .input-group
                .input-group-btn.search-panel
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                        span#search_concept #{search_param} 
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(id='search-dropdown-ID')
                                i.fa.fa-angle-double-right
                                |  ID
                        li
                            a(id='search-dropdown-Email')
                                i.fa.fa-angle-double-right
                                |  Email
                input#search_param(type='hidden', name='search_param', value=search_param)
                .input-group-btn.search-panel
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                        span#search_concept_date #{ search_param_date == 'Today' ? 'Idag' : 'Alla' }  
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(id='search-dropdown-Today')
                                i.fa.fa-angle-double-right
                                |  Idag
                        li
                            a(id='search-dropdown-Alltime')
                                i.fa.fa-angle-double-right
                                |  Alla
                input#search_param_date(type='hidden', name='search_param_date', value=search_param_date)
                input#search_key.form-control(type='text', name='q', placeholder='Search..', value=searchString)
                span.input-group-btn
                    a.btn.btn-default.text-muted(href='/restaurant/orders', title='Clear')
                        i.fa.fa-times
                    button.btn.btn-info(type='submit')   Sök 
                
        br
        div(id='ordersframe')
        .row
            .span5
                table.table.table-striped.table-condensed
                    thead
                    tr
                        th Email
                        th Datum
                        th Pris
                        th Status
                        th
                    tbody.orderscontainer
                        include orders
        button.btn.btn-info.orders_load_more(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Laddar", style="display: none;") Ladda fler
    
  each order in orders 
    br
    .restaurant-container.materialize-box(style='overflow: hidden;')

        .material-header
            p Order (#{order.email})
        .col-sm-12
        table.table.table-hover
            thead
            tr
                th Produkt
                th.text-center Pris
            tbody
                each product in order.finalProducts
                    tr
                    td.col-sm-8.col-md-6
                        .media
                        div.pull-left(href='', style='width: 100px; height: 50px; ')
                            //img.media-object(src=product.pictureURL)
                            div(class='product-img' style='max-height: 50px; background-image: url(' + product.pictureURL + ')')
                        .media-body
                            h4.media-heading
                            p #{product.name}
                            h5.media-heading
                            p #{product.description.substring(0, 20)}
                    td.col-sm-1.col-md-1.text-center
                        strong #{product.price} SEK
            tr
            td
                h3 Summa
            td.text-right
                h3
                strong #{order.price} SEK