extends ../layout

block content
  .restaurant-container.materialize-box(style='overflow: hidden;')
        
        .material-header
            p Order (#{order.email})
        .col-sm-12
          table.table.table-hover
            thead
              tr
                th Produkt
                th.text-center Pris
            tbody
                each product in orderProducts
                    tr
                      td.col-sm-8.col-md-6
                        .media
                          div.pull-left(href='', style='width: 100px; height: 50px; ')
                            //img.media-object(src=product.pictureURL)
                            div(class='product-img' style='max-height: 50px; background-image: url(' + product.pictureURL + ')')
                          .media-body
                            h4.media-heading
                              p #{product.name}
                            h5.media-heading
                              p #{product.description.substring(0, 20)}
                      td.col-sm-1.col-md-1.text-center
                        strong #{product.price} SEK
            tr
              td
                h3 Summa
              td.text-right
                h3
                  strong #{price} SEK
