each product in products
   div.product-container.col-xs-6.col-sm-4.col-md-3
      div(class='product-img' style='background-image: url(' + product.pictureURL + ')')
      .product-info
        h2(style='word-wrap: break-word') #{product.name}
        p(style='word-wrap: break-word') Uthämtningstid: #{product.description}
        if(product.ordPrice)
          p(style='word-wrap: break-word') Ord. pris: 
            strike #{product.ordPrice} kr
        .product-price #{product.price} kr
        .product-quantity #{product.quantity} kvar
        p
          a.btn.btn-default(href='/restaurant/product/edit/' + product._id, role='button') Ändra
          a.btn.btn-danger(href='/restaurant/product/delete/'+ product._id, role='button') Ta bort
