extends ../layout

block content

    .row
        .col-sm-2
            img(src=restaurant.pictureURL class='img-responsive')
        .col-sm-5
            h2 #{restaurant.name}
            p #{restaurant.aboutUs}
            p
                a.btn.btn-default(href='/restaurant/product', role='button') Add product
                a.btn.btn-default(href='/restaurant/edit', role='button') Edit Restaurant
        .col-sm-5
            br
            p <b>Street:</b> #{restaurant.street}
            p <b>Postal code:</b> #{restaurant.postalCode}
            p <b>City:</b> #{restaurant.city}
    hr

    .row
        each product in products
            .col-sm-6
                h2 #{product.name}
                p #{product.description}
                p #{product.quantity}
                p #{product.price} sek
                p
                    a.btn.btn-default(href='#', role='button') Select »
    
    hr
    a.btn.btn-default(href='/restaurant/products/2', role='button') See more
