extends ../layout

block content

    .div(id='baseurl' data-internalbaseurl='/restaurant/products/')

    .row
        .col-xs-6.col-sm-3.col-md-2
            div(class='product-img' style='background-image: url(' + restaurant.pictureURL + ')')
        .col-xs-6.col-sm-4.col-md-5
            h2 #{restaurant.name}
            p #{restaurant.aboutUs}
            p
                a.btn.btn-default(href='/restaurant/product', role='button') Add product
                a.btn.btn-default(href='/restaurant/edit', role='button') Edit Restaurant
                a.btn.btn-default(href='/restaurant/orders', role='button') Orders
        .col-xs-3.col-sm-4.col-md-5
            br
            p <b>Street:</b> #{restaurant.street}
            p <b>Postal code:</b> #{restaurant.postalCode}
            p <b>City:</b> #{restaurant.city}
    hr

    .row(id='productsframe2')
        include products
    
    hr
    .text-center
        a.btn.btn-default(id='load_more', role='button' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading") View older products