extends ../layout

block content
    .row
        each product in orderProducts
            p #{product.name} | #{product.quantity} | #{product.price} Sek
    p Sum: #{price} Sek
    br
    // TODO Change the image in the data-image tag
    form(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        script(
        src='https://checkout.stripe.com/checkout.js',
        class='stripe-button',
        data-key=publishableKey,
        data-image='http://static.tumblr.com/nljhkjv/z0Jlpk23i/logo', 
        data-name='Räddamaten',
        data-currency='sek',
        data-amount=price*100)

