extends ../layout

block content
    .restaurant-container.col-xs-12.col-md-10.col-md-offset-1
        .material-header
            p Du handlar nu från...
        .restaurant-content
            .col-xs-12.col-md-6
                h2 #{restaurant.name}
                p #{restaurant.aboutUs}
            .col-xs-12.col-md-6
                .col-xs-12.col-sm-6(style='padding: 0px;')
                    h2 Address
                    p <b>Street:</b> #{restaurant.street} 
                    p <b>Postal code:</b> #{restaurant.postalCode}
                    p <b>City:</b> #{restaurant.city}
                .col-xs-12.col-sm-6
                    h2
                    div(style='text-align: center;')
                        .img-centercrop(style='height: 105px; width: 160px; display: inline-block; background-image: url(' + restaurant.pictureURL + ')')
    div
        .col-xs-12.col-sm-6.col-sm-offset-1.xs-clear-padding
            each product in products
                div
                    .product-container-horizontal
                        //.col-xs-4.col-sm-3
                        div(class='product-img-small' style='background-image: url(' + product.pictureURL + ')')
                        //.col-xs-8.col-sm-9
                        //.col-xs-6.col-sm-6
                        .product-info-horizontal
                            h4 #{product.name}
                            //p Quantity #{product.quantity} Price #{product.price} sek
                            .product-price-horizontal #{product.price} kr
                        button(class='add-product-btn' roduct._id role='button' data-productId=product._id data-orderId=order._id)
                            i.fa.fa-plus
                        button(class='info-product-btn' roduct._id role='button' data-productId=product._id data-orderId=order._id)
                            i.fa.fa-info
                    .desctiption-horizontal.desctiption-horizontal-hidden #{product.description}
        .col-xs-12.col-sm-3.right-side
            .order-list
                .order-list-header
                    p Kundvagn
                .orders.orders-xs-collapse
                    include order
                .checkout.checkout-xs-collapse
                    a.btn.btn-default(href='/order/checkout/'+order._id) Till kassan
