extends ../layout

block content
    .div(id='baseurl' data-internalbaseurl="/order/product/add/")
    .row.leftright-container.col-xs-12
        .col-xs-12.col-sm-9.left-side
            each product in products
                .col-xs-4.col-sm-3
                    div(class='product-img-small' style='background-image: url(' + product.pictureURL + ')')
                .col-xs-8.col-sm-9
                    .col-xs-6.col-sm-6
                        h4 #{product.name}
                        p Quantity #{product.quantity} Price #{product.price} sek
                    .col-xs-2.col-sm-3
                        p
                            a.btn.btn-default(class='add-product-btn' roduct._id role='button' data-productId=product._id data-orderId=order._id) Add
        .col-xs-12.col-sm-3.right-side
            .order-list
                include order
