each product in orderProducts
    p #{product.name} | #{product.price} kr
        a.btn.btn-default(class='delete-product-btn' roduct._id role='button' data-productId=product._id data-orderId=order._id) Delete
p Sum: #{price} Sek