each product in products
   div.product-container.col-xs-6.col-sm-4.col-md-3
      div(class='product-img' style='background-image: url(' + product.pictureURL + ')')
      .product-info
        h2(style='word-wrap: break-word') #{product.name}
        p(style='word-wrap: break-word') Uthämtningstid: #{product.description}
        if(product.ordPrice)
          p(style='word-wrap: break-word') Ord. pris: 
            strike #{product.ordPrice} kr
        .product-price #{product.price} kr
        p
          form.form-horizontal(method='POST' action='/order/')
              input(type='hidden', name='_csrf', value=_csrf)
              input.form-control(type='hidden', name='restaurantId', id='restaurantId', value=product.restaurantId)
              input.form-control(type='hidden', name='productId', id='productId', value=product._id)
              button.product-button(type='submit')
                | Beställ
